body {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36, 36, 36);
}

.background-container {
    position: relative;
    background-color: cadetblue;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.bg-top {
    position: absolute;
    transform: translate(-35%, -55%);
}

.bg-bottom {
    right: 0;
    bottom: 0;
    position: absolute;
    transform: translate(40%, 65%);
}

.profile {
    position: absolute;
    top: 0px;
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px black;
}

.upper-profile {
    height: 344px;
    max-width: 600px;
    width: 70%;
    background-image: url(bg-pattern-card.svg);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.lower-profile {
    background-color: rgb(255, 255, 255);
    height: fit-content;
    width: 70%;
    max-width: 600px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#profile-img {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    height: 95vh;
}

#profile-img img {
    width: 165px;
    margin: 0px auto;
    border-radius: 50%;
    height: 180px;
    border: 10px solid white;
}

.name-age {
    display: flex;
    justify-content: space-between;
    margin: 130px auto;
    max-width: 230px;
    align-items: center;
}

.place {
    text-align: center;
    margin-top: -120px;
}

.about {
    display: flex;
    justify-content: space-around;
}

.achievements p {
    text-align: center;
}

@media screen and (max-width:700px) {
    .bg-top {
        position: absolute;
        transform: translate(-70%, -55%);
    }
    .bg-bottom {
        right: 0;
        bottom: 0;
        position: absolute;
        transform: translate(70%, 65%);
    }
     .upper-profile {
        width: 85%;
    }
    .lower-profile {
        width: 85%;
    }
}
